@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

a,
.btn,
p {
  font-family: "Alata", sans-serif;
}
/************** INTRO SECTION ***************/
#intro-page {
  background-image: url(/images/desktop/image-hero.jpg);
  background-size: cover;
  height: 611px;
  color: white;
}
/* NAV BAR */
#ham-nav {
  display: none;
}
#desktopnav {
  display: flex;
  justify-content: space-between;
  padding: 4rem 6rem;
}
.nav-links {
  list-style: none;
  display: flex;
}
.link {
  padding: 0 1.4rem;
  display: flex;
  justify-content: center;
}
.link a {
  position: relative;
  text-decoration: none;
  padding: 0;
  color: white;
}
.link a:after {
  content: "";
  position: absolute;
  background-color: white;
  height: 2px;
  width: 0;
  left: 0px;
  bottom: -3px;
}
.link a:hover:after {
  width: 100%;
  transition: 0.5s ease-in-out;
}
/* INTRO PAGE */
.intro-page-header {
  border: 2px white solid;
  margin: 4rem 6rem;
  width: 45%;
}
.intro-page-header h1 {
  font-size: 3.5rem;
  margin: 2.5rem;
  overflow-x: hidden;
  letter-spacing: 2px;
  font-weight: 200;
}

/**************** ABOUT PAGE ****************/
#about-page {
  padding: 4rem 6rem;
  height: 800px;
}
.about-container {
  display: flex;
  position: relative;
}
.about-img-container {
  position: absolute;
  width: 65%;
  height: 500px;
  top: 0;
  left: 0;
}
#test {
  position: absolute;
  width: 50%;
  height: auto;
  top: 12.4rem;
  right: 1rem;
}

.about-text-container {
  background: white;
  max-width: 100%;
  width: 590px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 3rem;
  flex-wrap: nowrap;
}
.about-text-container h2 {
  font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}
.about-text-container p {
  font-size: 1.15rem;
  overflow-x: hidden;
}
/******************* CREATION PAGE **********************/
#creation-page {
  padding: 0 6rem;
  margin-bottom: 4rem;
}
.creation-group-mobile {
  display: none;
}
.creation-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.creation-header h2 {
  color: black;
  letter-spacing: 2px;
  font-weight: 100;
  font-size: 2rem;
}
.creation-header a {
  letter-spacing: 2px;
  text-decoration: none;
  padding: 10px 25px;
  background: black;
  color: white;
}
.creation-header a:hover {
  padding: 9.3px 25px;
  background: white;
  color: black;
  border: 1px black solid;
}
.creation-group-desktop {
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}
.items {
  height: 30rem;
  display: flex;
  align-items: end;
}
.items:hover {
  opacity: 40%;
  transition: opacity 0.5s ease-in-out;
}
.group-item-desktop-1 {
  background-image: url(/images/desktop/image-deep-earth.jpg);
  background-size: cover;
}
.group-item-desktop-2 {
  background-image: url(/images/desktop/image-night-arcade.jpg);
  background-size: cover;
}
.group-item-desktop-3 {
  background-image: url(/images/desktop/image-soccer-team.jpg);
  background-size: cover;
}
.group-item-desktop-4 {
  background-image: url(/images/desktop/image-grid.jpg);
  background-size: cover;
}
.group-item-desktop-5 {
  background-image: url(/images/desktop/image-from-above.jpg);
  background-size: cover;
}
.group-item-desktop-6 {
  background-image: url(/images/desktop/image-pocket-borealis.jpg);
  background-size: cover;
}
.group-item-desktop-7 {
  background-image: url(/images/desktop/image-curiosity.jpg);
  background-size: cover;
}
.group-item-desktop-8 {
  background-image: url(/images/desktop/image-fisheye.jpg);
  background-size: cover;
}

/********************** FOOTER **********************/
footer {
  background: black;
  color: white;
  padding: 2rem 6rem;
}
.f1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.f2 {
  display: flex;
  justify-content: space-between;
}
.fot-links {
  display: flex;
}
.fot-l {
  padding: 0 2.5rem 0 0;
}
